@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Space+Mono:ital,wght@0,400;1,700&display=swap');

:root{
  --primary-strong-cyan: hsl(172, 67%, 45%);
  --primary-light-cyan: hsl(173, 61%, 77%);
  --dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --ff: 'Space Mono', monospace;
}
